<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="routesFlow" doc:id="fa8cb91f-a3a5-4934-90b8-6b3c586ad5fe" >
		<logger level="INFO" doc:name="Logger" doc:id="43a351cb-bdc6-48f2-b23a-129707d36043" message="routes-private-flow-start"/>
		<db:select doc:name="Select" doc:id="07da8430-00dd-4a25-9e8d-1788e48ba4a6" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from fastgo_routes]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="ab61d3d9-13dd-4623-a8a6-3d1297b9c0d3" message="routes-private-flow-end"/>
	</flow>
</mule>
